.about {
    height: 200vh;
    padding: 50px 0px;
    border-top: $purple-border;
    border-bottom: $purple-border;
    background-color: $dark-grey;

    .about-container {
        @include max-width;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    img {
        
    }
}

.about-text {
    max-width: 400px;
    line-height: 30px;

    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
}
