.about {
    padding: 50px 0px;
    border-top: $purple-border;
    border-bottom: $purple-border;
    background-color: $dark-grey;

    .about-container {
        @include max-width;
        @include about-imgs;
        display: grid;
        grid-template-rows: repeat(2, 400px);
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        column-gap: 50px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}


.about-text {
    line-height: 30px;
    
    
    h1 {
        font-size: 50px;
    }
    
    /*p {
        max-width: 400px;
    }*/
}


.technology {
    @include info-box;
    text-align: center;

    h1 {
        font-size: 40px;
    }

    .technologies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}


.tools {
    @include info-box;
    text-align: center;

    h1 {
        font-size: 40px;
    }

    .tools-imgs {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}