@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 60px;
    background-color: #333;
    border-bottom: solid 3px #8707F0;
}

.header-container {
    height: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    transition: color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
}

.header-container a:hover {
    color: #9a36ec;
}