.about {
  background-color: $about-bg-color;
  border-top: $about-border;
  border-bottom: $about-border;
  padding: $about-padding;

  .about-container {
    @include flex-box($direction: column);
    @include tech-imgs(100px);
  }

  .about-text {
    @include text-and-h1(left, $about-text-h1-font-size);
    line-height: $text-height;
  }
}

.technology {
  @include info-box;
  @include text-and-h1(center, $about-box-h1-font-size);
  margin-top: $boxes-margin;
  width: $boxes-width;

  .technologies {
    @include flex-box(column, space-between, center);
    flex-wrap: wrap;
    min-height: 280px;
    max-height: 320px;
  }
}

.tools {
  @include info-box;
  @include text-and-h1(center, $about-box-h1-font-size);
  margin-top: $boxes-margin;
  width: $boxes-width;

  .tools-imgs {
    @include flex-box(column, space-between, center);
    flex-wrap: wrap;
    min-height: 280px;
    max-height: 320px;
  }
}