.about {
    padding: 50px 0px;
    border-top: $purple-border-thin;
    border-bottom: $purple-border-thin;
    background-color: $dark-grey;

    .about-container {
        @include max-width;
        @include tech-imgs;
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns: 1fr 1fr;
        row-gap: 100px;
        column-gap: 50px;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        font-weight: $font-thin;
        color: $light-grey;
    }
}


.about-presentation {
    line-height: 30px;

    
    h1 {
        font-size: 50px;
    }
}


.about-pretensions {
    @extend .about-presentation;

    text-align: right;
}


.technology {
    @include info-box;
    text-align: center;

    h1 {
        font-size: 40px;
    }
    
    .technologies {
        max-height: 280px;
        @include flex-box(column, space-between, center);
        flex-wrap: wrap;
    }
}


.tools {
    @include info-box;
    text-align: center;

    h1 {
        font-size: 40px;
    }

    .tools-imgs {
        @include flex-box(column, space-between, center);
    }
}
