.contact {
  background-color: $contact-bg-color;
  color: $contact-color;
  padding: $contact-padding;
  text-align: $contact-text-align;

  h3 {
    font-size: calc(0.8rem + 0.5vw);
    font-weight: $font-thin;
    line-height: $text-height;
  }

  .links {
    margin-top: 50px;
  }

  .link {
    @include flex-box($justify: flex-start);
    margin: 10px auto;
    width: 300px;

    img {
      @include icon-imgs(auto, 35px, transparent);
      margin-right: 10px;
    }

    a {
      @include reset-a-style($grey);
      border: solid 1px transparent;
      font-size: $link-a-font-size;

      &:hover {
        border-bottom: solid 1px $grey;
      }
    }
  }
}
