.contact {
  background-color: $contact-bg-color;
  color: $contact-color;
  padding: $contact-padding;
  text-align: $contact-text-align;

  h3 {
    font-size: calc(0.8rem + 0.5vw);
    font-weight: $font-thin;
    line-height: $text-height;
  }

  a {
    @include reset-a-style($grey);
    border-bottom: $contact-a-border;
    font-size: $contact-a-font-size;

    &:hover {
      border-bottom: $contact-a-border-hover;
    }
  }

  .links {
    margin-top: $links-margin;
  }
  
  .link {
    @include flex-box($justify: flex-start);
    margin: $link-margin;
    width: $link-width;
  
    img {
      @include icon-imgs(auto, 35px, transparent);
      margin-right: $link-img-margin;
    }
  }
}
