.header {
  background-color: $dark-grey;
  border-bottom: $border;
  height: 60px;
  position: sticky;
  top: 0;

  .header-container {
    @include max-width(90vw);
    @include flex-box($justify: flex-start);
    height: 100%;
  }

  .menu-button {
    display: block;
    height: 40px;
    width: 40px;
  }

  nav {
    display: none;
  }

  a {
    @include reset-a-style;
    font-size: 15px;
    padding: 10px;
    transition: color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
    text-transform: uppercase;
    &:hover {
      color: $a-color-hover;
    }
  }
}
