.header {
  background-color: $header-bg-color;
  border-bottom: $header-border;
  height: $header-height;
  position: $header-position;
  top: $header-top;


  nav {
    display: $header-nav-hidden;
  }

  a {
    @include reset-a-style;
    font-size: $header-a-font-size;
    padding: $header-a-padding;
    transition: color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
    text-transform: $header-a-text-transform;
    &:hover {
      color: $a-color-hover;
    }
  }


  .header-container {
    @include max-width(90vw);
    @include flex-box($justify: flex-start);
    height: 100%;
  }

  .menu-button {
    display: $header-button-visible;
    height: $header-button-size;
    width: $header-button-size;
  }
}
