.home {
  @include flex-box($direction: column);
  background-color: $black;
  min-height: $home-min-height;
  padding: $home-padding;

  .my-photo {
    animation: $home-photo-animation;
    border-radius: $home-photo-border-radius;
    height: $home-photo-height;
    margin-bottom: $home-photo-margin;
    width: $home-photo-width;
  }

  h1 {
    font-size: $home-h1-font-size;
  }

  h3 {
    color: $home-h3-color;
    font-size: $home-h3-font-size;
    font-weight: $font-thin;
    margin: $home-h3-margin;
  }

  p {
    color: $home-p-color;
    font-size: $home-p-font-size;
    font-weight: $font-thin;
  }
}

@keyframes expand-shadow {
  from {
    box-shadow: 0px 0px 10px 1px $strong-eletric-violet;
  }

  to {
    box-shadow: 0px 0px 50px 1px $strong-eletric-violet;
  }
}

.social {
  @include flex-box;
  margin-top: $social-margin;

  a {
    margin: $social-a-margin;
  }

  img {
    @include icon-imgs($social-img-height-width, $social-img-height-width, $grey);
    transition: background-color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
    &:hover {
      background-color: $social-img-bg-color-hover;
    }
  }
}
