@mixin flex-box($direction: row, $justify: center, $align: center) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin max-width($max: 1140px) {
  margin: auto;
  max-width: $max;
}

@mixin reset-a-style($color: $white) {
  color: $color;
  text-decoration: $no-txt-decoration;
}

@mixin icon-imgs($height, $width, $color) {
  background-color: $color;
  border-radius: $icon-border-radius;
  height: $height;
  padding: $icon-padding;
  width: $width;
}

@mixin tech-imgs($height) {
  img {
    height: $height;
    margin: $tech-imgs-margin;
    width: auto;
  }
}

@mixin info-box {
  background-color: $info-box-bg-color;
  border-radius: $info-box-border-radius;
  box-shadow: $info-box-shadow;
}

@mixin text-and-h1($align, $size) {
  text-align: $align;

  h1 {
    font-size: $size;
    margin: $about-h1-margin;
  }

  p {
    color: $about-text-color;
    font-size: $about-text-font-size;
    font-weight: $font-thin;
    margin-top: $about-text-margin;
  }
}

@mixin media-laptop {
  @media screen and (min-width: 790px) {
    .header {
      nav {
        display: $header-nav-visible;
      }

      .header-container {
        @include flex-box($justify: flex-end);
      }

      .menu-button {
        display: $header-button-hidden;
      }
    }

    .about {
      .about-container {
        display: $about-container-grid;
        gap: $about-container-gap;
        grid-template-columns: $about-container-columns-laptop;
        grid-template-rows: $about-container-rows;
        margin: $about-container-margin;
        max-width: $about-container-max-width;
      }

      .about-text {
        grid-row-end: $about-text-grid-span;
        margin: auto;
      }

      .technology {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: auto;
      }

      .tools {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: auto;
      }
    }

    .project {
      @include flex-box;
      height: $project-media-height;
      max-width: $project-media-max-width;

      img {
        height: $project-img-media-height;
        max-width: $project-img-media-max-width;
      }

      .project-info {
        @include flex-box($direction: column, $justify: space-between);
        height: 100%;
        margin-top: $no-margin;
      }
    }
  }
}

@mixin media-desktop {
  @media screen and (min-width: 1050px) {
    .about {
      .about-container {
        grid-template-columns: $about-container-columns-desktop;
      }
    }
  }
}

@mixin media-4k-device {
  @media screen and (min-width: 2000px) {
    .about {
      .about-container {
        column-gap: 10rem;
        grid-template-columns: $about-container-columns-4k;
      }
    }
  }
}
