@mixin flex-box($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin max-width($max: 1140px) {
    max-width: $max;
    margin: auto;
}

@mixin reset-a-style($color: $white) {
    text-decoration: none;
    color: $color;
}

@mixin icon-imgs($height, $width, $color) {
    height: $height;
    width: $width;
    padding: 1px;
    border-radius: 3px;
    background-color: $color;
}

@mixin tech-imgs {
    img {
        height: 120px;
        width: auto;
        margin: 10px 0px;
    }
}

@mixin info-box {
    background-color: #3335;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px $strong-purple;
}