@mixin flex-box($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin max-width($max: 1140px) {
    max-width: $max;
    margin: auto;
}

@mixin reset-a-style($color: $white) {
    text-decoration: none;
    color: $color;
}

@mixin icon-imgs($height, $width, $color) {
    height: $height;
    width: $width;
    padding: 1px;
    border-radius: 3px;
    background-color: $color;
}

@mixin tech-imgs($height) {
    img {
        height: $height;
        width: auto;
        margin: 10px 0px;
    }
}

@mixin info-box {
    background-color: #3335;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px $strong-purple;
}

@mixin tech-boxes-media {
    width: 85vw;
    margin-top: 50px;
}

@mixin mediaquery-laptop {
    @media screen and (max-width: $laptop) {
        .about {
            padding: 50px;

            .about-container {
                grid-template-rows: 1fr 1fr;
            }
        }
    }
}

@mixin mediaquery-tablet {
    @media screen and (max-width: $tablet) {
        .header {
            padding: 0px 30px;

            .header-container {
                @include flex-box($justify: flex-start);
                margin: 0;
            }
    
            .menu-button {
                display: block;
            }
    
            nav {
                display: none;
            }
        }

        .about {
            .about-container {
                @include flex-box($direction: column);
                @include tech-imgs(100px);
                row-gap: 0;
                column-gap: 0;
            }

            .technology {
                @include tech-boxes-media;
            }

            .tools {
                @include tech-boxes-media;
            }
        }

    }
}