.mobile-menu {
  background-color: $menu-bg-color;
  bottom: $menu-bottom;
  display: $menu-hidden-display;
  left: $menu-left;
  right: $menu-right;
  position: $menu-position;
  top: $menu-top;
  z-index: $menu-z-index;

  a {
    @include reset-a-style;
    display: $menu-a-display;
    margin: $menu-a-margin;
    text-transform: $menu-a-text-transform;
  }


  .menu-container {
    @include flex-box($direction: column);
    background-color: $menu-container-bg-color;
    height: $menu-container-height;
    width: $menu-container-width;
  }
}

.mobile-menu.open {
  display: $menu-visible-display;
}
