$social-purple: #6d03f8;
$strong-purple: #8707F0;
$text-purple: #9a36ec;



$dark-grey: #222;
$black: #000;
$white: #fff;
$grey: #aaa;
$light-grey: #ccc;



$font-stack: 'Montserrat', sans-serif;;
$font-thin: 200;

$purple-border: solid 3px $strong-purple;
$purple-border-thin: solid 1px $strong-purple;