$white: #fff;
$grey: #aaa;
$light-grey: #ccc;
$transparent-violet: #8707f033;
$light-violet: #cd91ff;
$light-eletric-violet: #9a36ec;
$strong-eletric-violet: #8707F0;
$dark-eletric-violet: #6d03f8;
$transparent-dark-grey: #3335;
$dark-grey: #222;
$black: #000;


$purple-gradient: linear-gradient(to bottom, #ce92ff, #bf84ec, #af76d9, #a068c7, #915bb5);





$box-sizing: border-box;
$font-family: 'Montserrat', sans-serif;;
$font-thin: 200;
$no-border: 0;
$no-margin: 0;
$no-list-style: none;
$no-padding: 0;
$no-txt-decoration: none;
$text-height: calc(1.5rem + 0.5vw);



$border: solid 3px $strong-eletric-violet;
$border-thin: solid 1px $strong-eletric-violet;



$a-color-hover: $dark-eletric-violet;





$about-bg-color: $dark-grey;
$about-border: $border-thin;
$about-padding: 2.5rem 1rem;


$about-box-grid-column: 2 / 3;
$about-box-h1-font-size: calc(2.1rem + 1vw);
$about-h1-margin: 1.2rem 0rem 1.5rem 0rem;


$about-container-gap: 50px;
$about-container-grid: grid;
$about-container-columns: 50ch 1fr;
$about-container-rows: 1fr 1fr;
$about-container-margin: auto;
$about-container-max-width: 85vw;


$about-text-color: $light-grey;
$about-text-font-size: calc(0.8rem + 0.4vw);
$about-text-h1-font-size: calc(2.2rem + 1vw);
$about-text-margin: 0.5rem;
$about-text-grid-span: span 2;


$body-font-family: $font-family;
$body-color: $white;


$boxes-margin: 2rem;
$boxes-width: 100%;


$contact-bg-color: $dark-grey;
$contact-color: $light-grey;
$contact-padding: 8rem 1rem;
$contact-text-align: center;


$contact-a-border: solid 1px transparent;
$contact-a-border-hover: solid 1px $grey;
$contact-a-font-size: calc(0.8rem + 0.3vw);


$footer-bg-color: $black;
$footer-color: $grey;
$footer-font-size: calc(1rem + 0.3vw);
$footer-padding: 3rem 0rem;
$footer-text-align: center;


$header-bg-color: $dark-grey;
$header-border: $border;
$header-height: 60px;
$header-position: sticky;
$header-top: 0;


$header-a-font-size: calc(1rem + 0.1vw);
$header-a-padding: 0rem 0.4rem;
$header-a-text-transform: uppercase;


$header-button-hidden: none;
$header-button-size: 40px;
$header-button-visible: block;


$header-nav-hidden: none;
$header-nav-visible: block;


$home-min-height: calc(100vh - 60px);
$home-padding: 1rem 0rem;


$home-h1-font-size: calc(1.6rem + 0.5vw);


$home-h3-color: $light-grey;
$home-h3-font-size: calc(1.2rem + 0.3vw);
$home-h3-margin: 0.5rem 0rem;


$home-p-color: $light-grey;
$home-p-font-size: calc(0.8rem + 0.3vw);


$home-photo-animation: expand-shadow 1s linear infinite alternate;
$home-photo-border-radius: 50%;
$home-photo-height: auto;
$home-photo-margin: 1.3rem;
$home-photo-width: calc(8rem + 5vw);


$icon-border-radius: calc(0.3rem + 0.2vw);
$icon-padding: calc(1px + 0.05vw);


$info-box-bg-color: $transparent-dark-grey;
$info-box-border-radius: 0.3rem;
$info-box-shadow: 0px 0px 10px 1px $strong-eletric-violet;


$links-margin: 3rem;


$link-margin: 0.7rem auto;
$link-width: 300px;


$link-img-margin: 0.7rem;


$menu-bg-color: $transparent-violet;
$menu-bottom: 0;
$menu-hidden-display: none;
$menu-visible-display: block;
$menu-left: 0;
$menu-right: 0;
$menu-position: fixed;
$menu-top: 60px;
$menu-z-index: 10;


$menu-a-display: inline-block;
$menu-a-margin: 0.8rem 0rem;
$menu-a-text-transform: uppercase;


$menu-container-bg-color: $black;
$menu-container-height: 100%;
$menu-container-width: 80vw;


$projects-bg-color: $black;
$projects-padding: 3rem 0.2rem;
$projects-text-align: center;


$projects-h3-font-size: calc(0.8rem + 0.5vw);
$projects-h3-font-weight: 400;


$project-border-radius: 1rem;
$project-margin: auto;
$project-margin-top: 2rem;
$project-overflow: hidden;
$project-width: 90%;


$project-media-height: 20rem;
$project-media-max-width: 85vw;


$project-h1-color: $black;
$project-h1-font-size: calc(1.5rem + 0.5vw);
$project-h1-margin: 0.5rem;


$project-img-height: auto;
$project-img-width: 100%;


$project-img-media-height: 100%;
$project-img-media-max-width: 45%;


$project-info-bg: $purple-gradient;
$project-info-bg-color: $light-violet;
$project-info-margin: -5px;
$project-info-padding: 0.5rem 0.2rem;


$project-li-bg-color: $dark-grey;
$project-li-border-radius: 1.3rem;
$project-li-color: $light-violet;
$project-li-font-size: calc(0.8rem + 0.2vw);
$project-li-margin: 0.3rem 0.5rem;
$project-li-padding: 0.3rem 0.8rem;


$project-link-bg-color: $black;
$project-link-color: $light-violet;
$project-link-display: inline-block;
$project-link-margin: 1rem 0.3rem;
$project-link-padding: 0.5rem 0.9rem;


$project-p-color: $dark-grey;
$project-p-font-size: calc(0.9rem + 0.3vw);
$project-p-text-align: center;


$social-margin: 2rem;


$social-a-margin: 0rem 0.4rem;


$social-img-bg-color-hover: $dark-eletric-violet;
$social-img-height-width: calc(2.1rem + 1vw);


$tech-imgs-margin: 0.9rem;
$tech-row: 1 / 2;


$tools-row: 2 / 3;