@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.header {
  background-color: #222;
  border-bottom: solid 3px #8707F0;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header nav {
  display: none;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: calc(1rem + 0.1vw);
  padding: 0rem 0.4rem;
  -webkit-transition: color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
  transition: color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
  text-transform: uppercase;
}

.header a:hover {
  color: #6d03f8;
}

.header .header-container {
  margin: auto;
  max-width: 90vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

.header .menu-button {
  display: block;
  height: 40px;
  width: 40px;
}

.mobile-menu {
  background-color: #8707f033;
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  position: fixed;
  top: 60px;
  z-index: 10;
}

.mobile-menu a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0.8rem 0rem;
  text-transform: uppercase;
}

.mobile-menu .menu-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  height: 100%;
  width: 80vw;
}

.mobile-menu.open {
  display: block;
}

.home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  min-height: calc(100vh - 60px);
  padding: 1rem 0rem;
}

.home .my-photo {
  -webkit-animation: expand-shadow 1s linear infinite alternate;
          animation: expand-shadow 1s linear infinite alternate;
  border-radius: 50%;
  height: auto;
  margin-bottom: 1.3rem;
  width: calc(8rem + 5vw);
}

.home h1 {
  font-size: calc(1.6rem + 0.5vw);
}

.home h3 {
  color: #ccc;
  font-size: calc(1.2rem + 0.3vw);
  font-weight: 200;
  margin: 0.5rem 0rem;
}

.home p {
  color: #ccc;
  font-size: calc(0.8rem + 0.3vw);
  font-weight: 200;
}

@-webkit-keyframes expand-shadow {
  from {
    -webkit-box-shadow: 0px 0px 10px 1px #8707F0;
            box-shadow: 0px 0px 10px 1px #8707F0;
  }
  to {
    -webkit-box-shadow: 0px 0px 50px 1px #8707F0;
            box-shadow: 0px 0px 50px 1px #8707F0;
  }
}

@keyframes expand-shadow {
  from {
    -webkit-box-shadow: 0px 0px 10px 1px #8707F0;
            box-shadow: 0px 0px 10px 1px #8707F0;
  }
  to {
    -webkit-box-shadow: 0px 0px 50px 1px #8707F0;
            box-shadow: 0px 0px 50px 1px #8707F0;
  }
}

.social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.social a {
  margin: 0rem 0.4rem;
}

.social img {
  background-color: #aaa;
  border-radius: calc(0.3rem + 0.2vw);
  height: calc(2.1rem + 1vw);
  padding: calc(1px + 0.05vw);
  width: calc(2.1rem + 1vw);
  -webkit-transition: background-color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
  transition: background-color 1s cubic-bezier(0.61, 1, 0.88, 1) 0.3s;
}

.social img:hover {
  background-color: #6d03f8;
}

.about {
  background-color: #222;
  border-top: solid 1px #8707F0;
  border-bottom: solid 1px #8707F0;
  padding: 2.5rem 1rem;
}

.about .about-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-container img {
  height: 100px;
  margin: 0.9rem;
  width: auto;
}

.about .about-text {
  text-align: left;
  line-height: calc(1.5rem + 0.5vw);
}

.about .about-text h1 {
  font-size: calc(2.2rem + 1vw);
  margin: 1.2rem 0rem 1.5rem 0rem;
}

.about .about-text p {
  color: #ccc;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 200;
  margin-top: 0.5rem;
}

.technology {
  background-color: #3335;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0px 10px 1px #8707F0;
          box-shadow: 0px 0px 10px 1px #8707F0;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.technology h1 {
  font-size: calc(2.1rem + 1vw);
  margin: 1.2rem 0rem 1.5rem 0rem;
}

.technology p {
  color: #ccc;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 200;
  margin-top: 0.5rem;
}

.technology .technologies {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 280px;
  max-height: 320px;
}

.tools {
  background-color: #3335;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0px 10px 1px #8707F0;
          box-shadow: 0px 0px 10px 1px #8707F0;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.tools h1 {
  font-size: calc(2.1rem + 1vw);
  margin: 1.2rem 0rem 1.5rem 0rem;
}

.tools p {
  color: #ccc;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 200;
  margin-top: 0.5rem;
}

.tools .tools-imgs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 280px;
  max-height: 320px;
}

.projects {
  background-color: #000;
  border-bottom: solid 1px #8707F0;
  padding: 3rem 0.2rem;
  text-align: center;
}

.projects h3 {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 400;
}

.project {
  border-radius: 1rem;
  margin: auto;
  margin-top: 2rem;
  overflow: hidden;
  width: 90%;
}

.project img {
  height: auto;
  width: 100%;
}

.project li {
  background-color: #222;
  border-radius: 1.3rem;
  color: #cd91ff;
  font-size: calc(0.8rem + 0.2vw);
  list-style: none;
  margin: 0.3rem 0.5rem;
  padding: 0.3rem 0.8rem;
}

.project p {
  color: #222;
  font-size: calc(0.9rem + 0.3vw);
  text-align: center;
}

.project .project-technologies {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .project-info {
  background-color: #cd91ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ce92ff), color-stop(#bf84ec), color-stop(#af76d9), color-stop(#a068c7), to(#915bb5));
  background-image: linear-gradient(to bottom, #ce92ff, #bf84ec, #af76d9, #a068c7, #915bb5);
  margin-top: -5px;
  padding: 0.5rem 0.2rem;
}

.project .project-title {
  color: #000;
  font-size: calc(1.5rem + 0.5vw);
  margin: 0.5rem;
}

.project .project-link {
  color: #cd91ff;
  text-decoration: none;
  background-color: #000;
  display: inline-block;
  margin: 1rem 0.3rem;
  padding: 0.5rem 0.9rem;
}

.contact {
  background-color: #222;
  color: #ccc;
  padding: 8rem 1rem;
  text-align: center;
}

.contact h3 {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 200;
  line-height: calc(1.5rem + 0.5vw);
}

.contact a {
  color: #aaa;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  font-size: calc(0.8rem + 0.3vw);
}

.contact a:hover {
  border-bottom: solid 1px #aaa;
}

.contact .links {
  margin-top: 3rem;
}

.contact .link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.7rem auto;
  width: 300px;
}

.contact .link img {
  background-color: transparent;
  border-radius: calc(0.3rem + 0.2vw);
  height: auto;
  padding: calc(1px + 0.05vw);
  width: 35px;
  margin-right: 0.7rem;
}

.footer {
  background-color: #000;
  border-top: solid 3px #8707F0;
  color: #aaa;
  font-size: calc(1rem + 0.3vw);
  padding: 3rem 0rem;
  text-align: center;
}

@media screen and (min-width: 790px) {
  .header nav {
    display: block;
  }
  .header .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .menu-button {
    display: none;
  }
  .about .about-container {
    display: -ms-grid;
    display: grid;
    gap: 50px;
    -ms-grid-columns: 40ch 1fr;
        grid-template-columns: 40ch 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: auto;
    max-width: 85vw;
  }
  .about .about-text {
    -ms-grid-row-span: 2;
        grid-row-end: span 2;
    margin: auto;
  }
  .about .technology {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin: auto;
  }
  .about .tools {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    margin: auto;
  }
  .project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 20rem;
    max-width: 85vw;
  }
  .project img {
    height: 100%;
    max-width: 45%;
  }
  .project .project-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1050px) {
  .about .about-container {
    -ms-grid-columns: 50ch 1fr;
        grid-template-columns: 50ch 1fr;
  }
}

@media screen and (min-width: 2000px) {
  .about .about-container {
    -webkit-column-gap: 10rem;
            column-gap: 10rem;
    -ms-grid-columns: 50ch 700px;
        grid-template-columns: 50ch 700px;
  }
}
/*# sourceMappingURL=style.css.map */